In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("companies_rw.csv")

df

,Company Name,Type,Category,Criteria,Placement Date,Open For
0,Dishman Carbogen Amcis Limited,Job,A,-,2023-11-30 0:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"
1,Tata Consultancy Services,Job,A,6,2023-11-30 0:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"
2,Optimized Solutions Limited,"Internship, Job",A,6,2023-00-00 00:00:00,"BTech, MTech, MscIT"
3,Unisys,Internship,A,-,2023-00-00 00:00:00,MTech
4,Grant Thornton Bharat LLP,Job,A1,-,2023-00-00 00:00:00,"BTech, MTech, MTechEC"
...,...,...,...,...,...,...
139,SAS R&D,"Job, Internship",A1,7,2022-00-00 00:00:00,"BTech, MTech, MscIT, MscDS"
140,Siemens,Job,A,-,2022-00-00 00:00:00,BTech
141,HDFC Bank India,Job,A,5,2022-00-00 00:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"
142,Cadence Design Systems,Job,A,7,2022-00-00 00:00:00,"BTech, MTech, MTechEC"
143,Flits,Job,A1,6,2022-00-00 00:00:00,"BTech, MTech, MscIT, MDes, MscDS"

In [7]:
# indexes

df.index

RangeIndex(start=0, stop=144, step=1)

In [8]:
# Columns

df.columns

Index(['Company Name', 'Type', 'Category', 'Criteria', 'Placement Date',
       'Open For'],
      dtype='object')

In [9]:
# describe

df.describe()

,Company Name,Type,Category,Criteria,Placement Date,Open For
count,144,144,144,144,144,144
unique,141,7,2,9,56,25
top,MAQ Software,"Job, Internship",A,-,2022-00-00 00:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"
freq,2,58,72,52,75,35

In [5]:
# show specidic data

df.head(3)

,Company Name,Type,Category,Criteria,Placement Date,Open For
0,Dishman Carbogen Amcis Limited,Job,A,-,2023-11-30 0:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"
1,Tata Consultancy Services,Job,A,6,2023-11-30 0:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"
2,Optimized Solutions Limited,"Internship, Job",A,6,2023-00-00 00:00:00,"BTech, MTech, MscIT"

In [6]:
# show specidic data

df.tail(3)

,Company Name,Type,Category,Criteria,Placement Date,Open For
141,HDFC Bank India,Job,A,5,2022-00-00 00:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"
142,Cadence Design Systems,Job,A,7,2022-00-00 00:00:00,"BTech, MTech, MTechEC"
143,Flits,Job,A1,6,2022-00-00 00:00:00,"BTech, MTech, MscIT, MDes, MscDS"

In [10]:
# show specidic data

df[:10:2]

,Company Name,Type,Category,Criteria,Placement Date,Open For
0,Dishman Carbogen Amcis Limited,Job,A,-,2023-11-30 0:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"
2,Optimized Solutions Limited,"Internship, Job",A,6,2023-00-00 00:00:00,"BTech, MTech, MscIT"
4,Grant Thornton Bharat LLP,Job,A1,-,2023-00-00 00:00:00,"BTech, MTech, MTechEC"
6,Dolcera Information Technology Pvt Ltd,Job,A,-,2023-00-00 00:00:00,"MTech, MscDS, MTechEC"
8,Nagarro Software Pvt Ltd-M.DES,Job,A,-,2023-00-00 00:00:00,MDes

In [17]:
# show specidic data

df[10:0:-3]

,Company Name,Type,Category,Criteria,Placement Date,Open For
10,Hexaware,"Internship, Job",A,6,2022-11-29 5:37:00,BTech
7,InfoAnalytica Consulting Pvt Ltd.,Job,A,-,2023-00-00 00:00:00,"BTech, BTechMnC, MTech, MscIT, MscDS, MTechEC"
4,Grant Thornton Bharat LLP,Job,A1,-,2023-00-00 00:00:00,"BTech, MTech, MTechEC"
1,Tata Consultancy Services,Job,A,6,2023-11-30 0:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"

In [14]:
# conver index to array

df.index.array

<PandasArray>
[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
 ...
 134, 135, 136, 137, 138, 139, 140, 141, 142, 143]
Length: 144, dtype: int64

In [16]:
# conver to numpy

df.to_numpy()

array([['Dishman Carbogen Amcis Limited', 'Job', 'A', '-',
        '2023-11-30 0:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Tata Consultancy Services', 'Job', 'A', '6',
        '2023-11-30 0:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Optimized Solutions Limited', 'Internship, Job', 'A', '6',
        '2023-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['Unisys', 'Internship', 'A', '-', '2023-00-00 00:00:00', 'MTech'],
       ['Grant Thornton Bharat LLP', 'Job', 'A1', '-',
        '2023-00-00 00:00:00', 'BTech, MTech, MTechEC'],
       ['Unisys India', 'Job', 'A', '7', '2023-00-00 00:00:00', 'BTech'],
       ['Dolcera Information Technology Pvt Ltd', 'Job', 'A', '-',
        '2023-00-00 00:00:00', 'MTech, MscDS, MTechEC'],
       ['InfoAnalytica Consulting Pvt Ltd.', 'Job', 'A', '-',
        '2023-00-00 00:00:00',
        'BTech, BTechMnC, MTech, MscIT, MscDS, MTechEC'],
       ['Nagarro Software Pvt Ltd-M.DES', 'Job', 'A', '-',
        '2023-00-00 00:00:00', 'MDes'],
       ['Tata Consultancy Services(Researcher R&I)', 'Job', 'A1', '8',
        '2022-12-16 0:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Hexaware', 'Internship, Job', 'A', '6', '2022-11-29 5:37:00',
        'BTech'],
       ['KPMG', 'Job, Internship', 'A1', '-', '2022-11-18 0:00:00',
        'MscDS'],
       ['Euler Motor', 'Job, Internship', 'A1', '-',
        '2022-11-15 0:00:00', 'BTech'],
       ['Panamax Infotech', 'Job', 'A', '5', '2022-11-14 15:06:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['IBM NQT', 'Job', 'A', '6', '2022-11-10 0:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Zoop One', 'Internship', 'A', '-', '2022-11-10 0:00:00',
        'BTech, MscIT'],
       ['Autolytics Technology Private Limited', 'Job, Internship', 'A',
        '6', '2022-11-08 0:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Wizzy Softech', 'Internship, Job', 'A', '-',
        '2022-11-00 00:00:00', 'BTech, MTech, MscIT'],
       ['Hevo Data', 'Internship', 'A', '-', '2022-10-27 12:15:00',
        'BTech, MscIT, MscDS'],
       ['Netmeds', 'Job, Internship', 'A', '6', '2022-10-26 14:51:00',
        'BTech, MTech, MscIT, MTechEC'],
       ['PPLWork', 'Job, Internship', 'A', '7', '2022-10-21 0:00:00',
        'BTech'],
       ['Capgemini Exceller', 'Job', 'A', '6', '2022-10-15 0:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Infor', 'Job, Internship', 'A', '6.5', '2022-10-14 13:30:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Axis Bank', 'Job', 'A1', '6', '2022-10-14 0:00:00',
        'BTech, MscIT'],
       ['Exxat', 'Job, Internship', 'A1', '5', '2022-10-13 0:00:00',
        'BTech, MTech'],
       ['Motadata', 'Job, Internship', 'A1', '6', '2022-10-10 0:00:00',
        'BTech, MTech, MscIT, MTechEC'],
       ['Josh Technology Group', 'Job, Internship', 'A1', '-',
        '2022-10-08 0:00:00', 'BTech, MTech, MscIT'],
       ['Bank Of America', 'Job', 'A', '6', '2022-10-07 0:00:00',
        'BTech'],
       ['rtCamp', 'Job, Internship', 'A1', '-', '2022-10-06 11:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['PeopleStrong Technologies Pvt Ltd', 'Internship', 'A1', '6',
        '2022-10-02 0:00:00', 'BTech'],
       ['Uber', 'Job, Internship', 'A1', '7', '2022-09-28 0:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Bank Of America', 'Job', 'A', '6', '2022-09-27 0:00:00',
        'BTech, MTech'],
       ['Infosys', 'Job', 'A', '6', '2022-09-23 0:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Amazon India(DS Only)', 'Internship', 'A1', '-',
        '2022-09-23 0:00:00', 'MscDS'],
       ['Fynd (Shopsense Retail Technologies Ltd.)', 'Job', 'A1', '5',
        '2022-09-22 12:17:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Infocusp Innovations', 'Job, Internship', 'A1', '6.5',
        '2022-09-22 10:00:00', 'BTech, MTech, MscIT, MscDS'],
       ['IBM Software Labs', 'Job, Internship', 'A', '7',
        '2022-09-22 0:00:00', 'BTech, MTech'],
       ['MAQ Software', 'Job, Internship', 'A1', '6',
        '2022-09-19 0:00:00', 'BTech, MTech, MscIT'],
       ['BlogVault Pvt. Ltd.', 'Job, Internship', 'A1', '6',
        '2022-09-14 0:00:00', 'BTech, MTech, MscIT'],
       ['Tally Solutions', 'Job', 'A1', '6', '2022-09-09 0:00:00',
        'BTech'],
       ['IBM', 'Job, Internship', 'A1', '7', '2022-09-07 0:00:00',
        'BTech, MTech'],
       ['TartanHQ Solutions Private Limited', 'Job, Internship', 'A1',
        '6', '2022-09-05 0:00:00', 'BTech, MscIT, MscDS'],
       ['Searce', 'Job, Internship', 'A1', '6', '2022-09-03 0:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Intuit', 'Job, Summer Internship, Internship', 'A1', '7',
        '2022-09-02 15:20:00', 'BTech, BTechMnC'],
       ['RapidBox', 'Job, Internship', 'A1', '6', '2022-09-01 17:30:00',
        'BTech, MTech, MscIT, MDes, MscDS, MTechEC'],
       ['Morgan Stanley', 'Summer Internship, Internship', 'A1', '7',
        '2022-08-26 0:00:00', 'BTech, BTechMnC, MTech, MscIT, MscDS'],
       ['Futures First Info Services Pvt. Ltd', 'Internship', 'A1', '5',
        '2022-08-26 0:00:00', 'BTech'],
       ['BNY Mellon', 'Summer Internship, Internship', 'A1', '7',
        '2022-08-24 0:00:00', 'BTech, BTechMnC'],
       ['Chalo Mobility', 'Job', 'A1', '6.5', '2022-08-23 21:00:00',
        'BTech, MTech, MTechEC'],
       ['Amazon', 'Job, Internship', 'A1', '6.5', '2022-08-23 13:00:00',
        'BTech'],
       ['Delhivery Limited', 'Job, Internship', 'A1', '7',
        '2022-08-17 9:00:00', 'BTech'],
       ['Oracle', 'Job', 'A1', '7', '2022-08-16 0:00:00',
        'BTech, MTech, MTechEC'],
       ['Wells Fargo', 'Job, Summer Internship', 'A1', '-',
        '2022-08-11 0:00:00', 'BTech'],
       ['Ontic Technologies', 'Job, Internship', 'A1', '6',
        '2022-08-10 0:00:00', 'BTech'],
       ['GE Digital', 'Internship', 'A1', '6.5', '2022-08-03 0:00:00',
        'BTech, MTech'],
       ['Flipkart', 'Summer Internship, Internship', 'A1', '-',
        '2022-08-01 17:15:00', 'BTech, BTechMnC, MTech, MTechEC'],
       ['IBM', 'Job, Internship', 'A', '7', '2022-07-31 0:00:00',
        'BTech, MTech, MscIT, MTechEC'],
       ['Deutsche India Pvt Limited', 'Job, Summer Internship', 'A1',
        '7', '2022-07-31 0:00:00', 'BTech, BTechMnC'],
       ['Squadstack', 'Job, Internship', 'A1', '5', '2022-07-28 0:00:00',
        'BTech, MTech, MscIT'],
       ['Media.net', 'Job, Summer Internship', 'A1', '-',
        '2022-07-28 0:00:00', 'BTech, BTechMnC, MTech, MTechEC'],
       ['Atlassian', 'Job, Internship', 'A1', '7', '2022-07-26 8:00:00',
        'BTech, MTech'],
       ['Tekion India', 'Job', 'A1', '6', '2022-07-23 16:30:00',
        'BTech, MTech, MscIT, MscDS'],
       ['MindTickle Interactive Media Private Limited',
        'Job, Internship', 'A1', '-', '2022-07-21 10:00:00', 'BTech'],
       ['Gameskraft Technologies', 'Job, Internship', 'A1', '-',
        '2022-07-21 10:00:00', 'BTech'],
       ['Goldman Sachs', 'Job, Summer Internship', 'A1', '-',
        '2022-07-20 8:00:00', 'BTech, BTechMnC, MTech, MTechEC'],
       ['Google', 'Job, Summer Internship', 'A1', '-',
        '2022-07-18 9:00:00',
        'BTech, BTechMnC, MTech, MscIT, MscDS, MTechEC'],
       ['Microsoft India Pvt. Ltd.', 'Job, Summer Internship', 'A1', '7',
        '2022-07-18 9:00:00', 'BTech, BTechMnC, MTech, MTechEC'],
       ['Sprinklr', 'Job, Summer Internship, Internship', 'A1', '-',
        '2022-07-18 0:00:00', 'BTech, BTechMnC'],
       ['Trilogy Innovations', 'Job, Summer Internship, Internship',
        'A1', '-', '2022-07-11 21:50:00',
        'BTech, BTechMnC, MTech, MscIT, MscDS, MTechEC'],
       ['Playpower Labs', 'Internship, Job', 'A', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Google India', 'Internship', 'A1', '-', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Atlan', 'Job, Internship', 'A1', '-', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['Cadence', 'Internship', 'A1', '-', '2022-00-00 00:00:00',
        'MTech, MTechEC'],
       ['Tech Mahindra', 'Job', 'A', '6', '2022-00-00 00:00:00',
        'BTech, MscIT'],
       ['Cloudera Data Platform India Private Limited',
        'Job, Internship', 'A1', '7', '2022-00-00 00:00:00', 'BTech'],
       ['Kylas', 'Job, Internship', 'A1', '7', '2022-00-00 00:00:00',
        'BTech'],
       ['Logistixian Technologies Private Limited (Shipments)',
        'Internship, Job', 'A1', '5', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['Shipmnts', 'Job, Internship', 'A', '-', '2022-00-00 00:00:00',
        'BTech, MDes'],
       ['KFintech', 'Job, Internship', 'A1', '-', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['Samsung', 'Job, Internship', 'A1', '7.3', '2022-00-00 00:00:00',
        'BTech, MTech'],
       ['Newfold Digital', 'Job, Internship', 'A1', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['Trading Technologies', 'Job, Internship', 'A1', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Intellolabs pvt ltd.', 'Job, Internship', 'A1', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Awaaz De Infosystems Private Limited', 'Job, Internship', 'A',
        '-', '2022-00-00 00:00:00', 'BTech, MscIT, MscDS'],
       ['Trading Technologies (SWE)', 'Job, Internship', 'A1', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Mercer Mettl', 'Internship', 'A1', '7', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Quinbay', 'Internship', 'A', '6', '2022-00-00 00:00:00',
        'BTech, MscIT'],
       ['Lumenci', 'Job', 'A1', '-', '2022-00-00 00:00:00',
        'BTech, MTech, MTechEC'],
       ['MAQ Software', 'Job, Internship', 'A1', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['Qualcomm', 'Summer Internship, Internship', 'A1', '7',
        '2022-00-00 00:00:00', 'BTech, BTechMnC, MTech, MTechEC'],
       ['Raapid', 'Internship, Job', 'A1', '7', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Quicko', 'Job, Internship', 'A', '-', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MDes, MscDS'],
       ['Opshub Technologies Pvt Ltd', 'Job, Internship', 'A', '7',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS'],
       ['HashedIn', 'Internship, Job', 'A', '6.5', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['Mettl', 'Internship', 'A', '5', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Verse Innovation', 'Internship, Job', 'A1', '7',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MDes'],
       ['JSW Group', 'Job', 'A', '6', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['Interview Kickstart', 'Job, Internship', 'A1', '5',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MTechEC'],
       ['Steradian Semiconductors Pvt Ltd', 'Job, Internship', 'A1', '7',
        '2022-00-00 00:00:00', 'BTech, MTech, MTechEC'],
       ['Mercer Mettl(Intern – NLP/CV/SPEECH)', 'Internship', 'A1', '5',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Aavenir', 'Job', 'A', '6', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['InfoObjects Inc', 'Job, Internship', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Vinculum Solutions Pvt. Ltd.', 'Job, Internship', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['IBM NQT 2.0', 'Job', 'A', '6', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Clientjoy', 'Job, Internship', 'A', '5', '2022-00-00 00:00:00',
        'BTech, MscIT, MDes, MscDS'],
       ['GlobalLogic A Hitachi Group Company', 'Job', 'A', '6.4',
        '2022-00-00 00:00:00', 'BTech'],
       ['Colgate Global Business Services', 'Internship', 'A', '-',
        '2022-00-00 00:00:00', 'MscDS'],
       ['Karza Technologies Private Limited', 'Internship, Job', 'A1',
        '-', '2022-00-00 00:00:00', 'BTech, MTech, MscDS, MTechEC'],
       ['Growby Exx Services Pvt. Ltd.', 'Job, Internship', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['FYNDNA Techcorp Private Limited', 'Job', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Aakash Educational Services Limited', 'Job', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Integrella IT Consulting Pvt. Ltd.', 'Internship, Job', 'A',
        '-', '2022-00-00 00:00:00', 'MTech, MscIT, MscDS'],
       ['SKH Algorithms Pvt Ltd', 'Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Episource India Pvt Ltd', 'Internship, Job', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Graas (Earlier Shoptimize)', 'Job, Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Reliance Jio Infocomm Ltd', 'Job', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['HDFC Bank', 'Job', 'A', '5', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Barclays Global Services India Pvt Ltd', 'Job', 'A1', '6',
        '2022-00-00 00:00:00', 'BTech'],
       ['Schneider Electric', 'Job, Internship', 'A', '6.5',
        '2022-00-00 00:00:00', 'BTech, MTech, MTechEC'],
       ['Go Digit General Insurance', 'Job', 'A', '-',
        '2022-00-00 00:00:00', 'BTech'],
       ['Manentia Advisory Pvt. Ltd.', 'Job, Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscDS, MTechEC'],
       ['Tata Consultancy Services Limited-M.Des', 'Job', 'A1', '-',
        '2022-00-00 00:00:00', 'MDes'],
       ['Tatvic Analytics', 'Job, Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech'],
       ['Decimal Point Analytics', 'Job', 'A', '5',
        '2022-00-00 00:00:00', 'BTech'],
       ['WisdmLabs', 'Internship, Job', 'A', '6', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['Fintech Global Center (Adsom Globaltech)', 'Job, Internship',
        'A', '6', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MDes, MscDS, MTechEC'],
       ['Cuvette', 'Internship', 'A1', '-', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MDes, MscDS, MTechEC'],
       ['Hansa solutions', 'Job, Internship', 'A', '6.5',
        '2022-00-00 00:00:00', 'BTech, MscIT'],
       ['Infodesk India Private Limited', 'Internship', 'A', '-',
        '2022-00-00 00:00:00',
        'BTech, BTechMnC, MTech, MscIT, MscDS, MTechEC'],
       ['Bank of America', 'Job', 'A', '6', '2022-00-00 00:00:00',
        'BTech'],
       ['Mastek (Evosys)', 'Job, Internship', 'A', '5.5',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['ElectricPe', 'Internship', 'A', '-', '2022-00-00 00:00:00',
        'BTech'],
       ['Injala Private Limited', 'Job, Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Shipturtle Apps Private Limited', 'Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech'],
       ['ZURU Tech India Private Limited', 'Job, Internship', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['Digicorp Information Systems Pvt Ltd.', 'Job, Internship', 'A',
        '-', '2022-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['Skolar EdTech Pvt Ltd', 'Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Bhaskaracharya National Institute for Space Applications and Geo-informatics',
        'Job', 'A', '-', '2022-00-00 00:00:00', 'MTech, MTechEC'],
       ['Signalchip', 'Job', 'A', '7', '2022-00-00 00:00:00',
        'MTech, MTechEC'],
       ['SAS R&D', 'Job, Internship', 'A1', '7', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS'],
       ['Siemens', 'Job', 'A', '-', '2022-00-00 00:00:00', 'BTech'],
       ['HDFC Bank India', 'Job', 'A', '5', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Cadence Design Systems', 'Job', 'A', '7', '2022-00-00 00:00:00',
        'BTech, MTech, MTechEC'],
       ['Flits', 'Job', 'A1', '6', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MDes, MscDS']], dtype=object)

In [18]:
# conver to numpy

import numpy as np

nparr = np.asarray(df)
nparr

array([['Dishman Carbogen Amcis Limited', 'Job', 'A', '-',
        '2023-11-30 0:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Tata Consultancy Services', 'Job', 'A', '6',
        '2023-11-30 0:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Optimized Solutions Limited', 'Internship, Job', 'A', '6',
        '2023-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['Unisys', 'Internship', 'A', '-', '2023-00-00 00:00:00', 'MTech'],
       ['Grant Thornton Bharat LLP', 'Job', 'A1', '-',
        '2023-00-00 00:00:00', 'BTech, MTech, MTechEC'],
       ['Unisys India', 'Job', 'A', '7', '2023-00-00 00:00:00', 'BTech'],
       ['Dolcera Information Technology Pvt Ltd', 'Job', 'A', '-',
        '2023-00-00 00:00:00', 'MTech, MscDS, MTechEC'],
       ['InfoAnalytica Consulting Pvt Ltd.', 'Job', 'A', '-',
        '2023-00-00 00:00:00',
        'BTech, BTechMnC, MTech, MscIT, MscDS, MTechEC'],
       ['Nagarro Software Pvt Ltd-M.DES', 'Job', 'A', '-',
        '2023-00-00 00:00:00', 'MDes'],
       ['Tata Consultancy Services(Researcher R&I)', 'Job', 'A1', '8',
        '2022-12-16 0:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Hexaware', 'Internship, Job', 'A', '6', '2022-11-29 5:37:00',
        'BTech'],
       ['KPMG', 'Job, Internship', 'A1', '-', '2022-11-18 0:00:00',
        'MscDS'],
       ['Euler Motor', 'Job, Internship', 'A1', '-',
        '2022-11-15 0:00:00', 'BTech'],
       ['Panamax Infotech', 'Job', 'A', '5', '2022-11-14 15:06:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['IBM NQT', 'Job', 'A', '6', '2022-11-10 0:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Zoop One', 'Internship', 'A', '-', '2022-11-10 0:00:00',
        'BTech, MscIT'],
       ['Autolytics Technology Private Limited', 'Job, Internship', 'A',
        '6', '2022-11-08 0:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Wizzy Softech', 'Internship, Job', 'A', '-',
        '2022-11-00 00:00:00', 'BTech, MTech, MscIT'],
       ['Hevo Data', 'Internship', 'A', '-', '2022-10-27 12:15:00',
        'BTech, MscIT, MscDS'],
       ['Netmeds', 'Job, Internship', 'A', '6', '2022-10-26 14:51:00',
        'BTech, MTech, MscIT, MTechEC'],
       ['PPLWork', 'Job, Internship', 'A', '7', '2022-10-21 0:00:00',
        'BTech'],
       ['Capgemini Exceller', 'Job', 'A', '6', '2022-10-15 0:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Infor', 'Job, Internship', 'A', '6.5', '2022-10-14 13:30:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Axis Bank', 'Job', 'A1', '6', '2022-10-14 0:00:00',
        'BTech, MscIT'],
       ['Exxat', 'Job, Internship', 'A1', '5', '2022-10-13 0:00:00',
        'BTech, MTech'],
       ['Motadata', 'Job, Internship', 'A1', '6', '2022-10-10 0:00:00',
        'BTech, MTech, MscIT, MTechEC'],
       ['Josh Technology Group', 'Job, Internship', 'A1', '-',
        '2022-10-08 0:00:00', 'BTech, MTech, MscIT'],
       ['Bank Of America', 'Job', 'A', '6', '2022-10-07 0:00:00',
        'BTech'],
       ['rtCamp', 'Job, Internship', 'A1', '-', '2022-10-06 11:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['PeopleStrong Technologies Pvt Ltd', 'Internship', 'A1', '6',
        '2022-10-02 0:00:00', 'BTech'],
       ['Uber', 'Job, Internship', 'A1', '7', '2022-09-28 0:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Bank Of America', 'Job', 'A', '6', '2022-09-27 0:00:00',
        'BTech, MTech'],
       ['Infosys', 'Job', 'A', '6', '2022-09-23 0:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Amazon India(DS Only)', 'Internship', 'A1', '-',
        '2022-09-23 0:00:00', 'MscDS'],
       ['Fynd (Shopsense Retail Technologies Ltd.)', 'Job', 'A1', '5',
        '2022-09-22 12:17:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Infocusp Innovations', 'Job, Internship', 'A1', '6.5',
        '2022-09-22 10:00:00', 'BTech, MTech, MscIT, MscDS'],
       ['IBM Software Labs', 'Job, Internship', 'A', '7',
        '2022-09-22 0:00:00', 'BTech, MTech'],
       ['MAQ Software', 'Job, Internship', 'A1', '6',
        '2022-09-19 0:00:00', 'BTech, MTech, MscIT'],
       ['BlogVault Pvt. Ltd.', 'Job, Internship', 'A1', '6',
        '2022-09-14 0:00:00', 'BTech, MTech, MscIT'],
       ['Tally Solutions', 'Job', 'A1', '6', '2022-09-09 0:00:00',
        'BTech'],
       ['IBM', 'Job, Internship', 'A1', '7', '2022-09-07 0:00:00',
        'BTech, MTech'],
       ['TartanHQ Solutions Private Limited', 'Job, Internship', 'A1',
        '6', '2022-09-05 0:00:00', 'BTech, MscIT, MscDS'],
       ['Searce', 'Job, Internship', 'A1', '6', '2022-09-03 0:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Intuit', 'Job, Summer Internship, Internship', 'A1', '7',
        '2022-09-02 15:20:00', 'BTech, BTechMnC'],
       ['RapidBox', 'Job, Internship', 'A1', '6', '2022-09-01 17:30:00',
        'BTech, MTech, MscIT, MDes, MscDS, MTechEC'],
       ['Morgan Stanley', 'Summer Internship, Internship', 'A1', '7',
        '2022-08-26 0:00:00', 'BTech, BTechMnC, MTech, MscIT, MscDS'],
       ['Futures First Info Services Pvt. Ltd', 'Internship', 'A1', '5',
        '2022-08-26 0:00:00', 'BTech'],
       ['BNY Mellon', 'Summer Internship, Internship', 'A1', '7',
        '2022-08-24 0:00:00', 'BTech, BTechMnC'],
       ['Chalo Mobility', 'Job', 'A1', '6.5', '2022-08-23 21:00:00',
        'BTech, MTech, MTechEC'],
       ['Amazon', 'Job, Internship', 'A1', '6.5', '2022-08-23 13:00:00',
        'BTech'],
       ['Delhivery Limited', 'Job, Internship', 'A1', '7',
        '2022-08-17 9:00:00', 'BTech'],
       ['Oracle', 'Job', 'A1', '7', '2022-08-16 0:00:00',
        'BTech, MTech, MTechEC'],
       ['Wells Fargo', 'Job, Summer Internship', 'A1', '-',
        '2022-08-11 0:00:00', 'BTech'],
       ['Ontic Technologies', 'Job, Internship', 'A1', '6',
        '2022-08-10 0:00:00', 'BTech'],
       ['GE Digital', 'Internship', 'A1', '6.5', '2022-08-03 0:00:00',
        'BTech, MTech'],
       ['Flipkart', 'Summer Internship, Internship', 'A1', '-',
        '2022-08-01 17:15:00', 'BTech, BTechMnC, MTech, MTechEC'],
       ['IBM', 'Job, Internship', 'A', '7', '2022-07-31 0:00:00',
        'BTech, MTech, MscIT, MTechEC'],
       ['Deutsche India Pvt Limited', 'Job, Summer Internship', 'A1',
        '7', '2022-07-31 0:00:00', 'BTech, BTechMnC'],
       ['Squadstack', 'Job, Internship', 'A1', '5', '2022-07-28 0:00:00',
        'BTech, MTech, MscIT'],
       ['Media.net', 'Job, Summer Internship', 'A1', '-',
        '2022-07-28 0:00:00', 'BTech, BTechMnC, MTech, MTechEC'],
       ['Atlassian', 'Job, Internship', 'A1', '7', '2022-07-26 8:00:00',
        'BTech, MTech'],
       ['Tekion India', 'Job', 'A1', '6', '2022-07-23 16:30:00',
        'BTech, MTech, MscIT, MscDS'],
       ['MindTickle Interactive Media Private Limited',
        'Job, Internship', 'A1', '-', '2022-07-21 10:00:00', 'BTech'],
       ['Gameskraft Technologies', 'Job, Internship', 'A1', '-',
        '2022-07-21 10:00:00', 'BTech'],
       ['Goldman Sachs', 'Job, Summer Internship', 'A1', '-',
        '2022-07-20 8:00:00', 'BTech, BTechMnC, MTech, MTechEC'],
       ['Google', 'Job, Summer Internship', 'A1', '-',
        '2022-07-18 9:00:00',
        'BTech, BTechMnC, MTech, MscIT, MscDS, MTechEC'],
       ['Microsoft India Pvt. Ltd.', 'Job, Summer Internship', 'A1', '7',
        '2022-07-18 9:00:00', 'BTech, BTechMnC, MTech, MTechEC'],
       ['Sprinklr', 'Job, Summer Internship, Internship', 'A1', '-',
        '2022-07-18 0:00:00', 'BTech, BTechMnC'],
       ['Trilogy Innovations', 'Job, Summer Internship, Internship',
        'A1', '-', '2022-07-11 21:50:00',
        'BTech, BTechMnC, MTech, MscIT, MscDS, MTechEC'],
       ['Playpower Labs', 'Internship, Job', 'A', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Google India', 'Internship', 'A1', '-', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Atlan', 'Job, Internship', 'A1', '-', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['Cadence', 'Internship', 'A1', '-', '2022-00-00 00:00:00',
        'MTech, MTechEC'],
       ['Tech Mahindra', 'Job', 'A', '6', '2022-00-00 00:00:00',
        'BTech, MscIT'],
       ['Cloudera Data Platform India Private Limited',
        'Job, Internship', 'A1', '7', '2022-00-00 00:00:00', 'BTech'],
       ['Kylas', 'Job, Internship', 'A1', '7', '2022-00-00 00:00:00',
        'BTech'],
       ['Logistixian Technologies Private Limited (Shipments)',
        'Internship, Job', 'A1', '5', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['Shipmnts', 'Job, Internship', 'A', '-', '2022-00-00 00:00:00',
        'BTech, MDes'],
       ['KFintech', 'Job, Internship', 'A1', '-', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['Samsung', 'Job, Internship', 'A1', '7.3', '2022-00-00 00:00:00',
        'BTech, MTech'],
       ['Newfold Digital', 'Job, Internship', 'A1', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['Trading Technologies', 'Job, Internship', 'A1', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Intellolabs pvt ltd.', 'Job, Internship', 'A1', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Awaaz De Infosystems Private Limited', 'Job, Internship', 'A',
        '-', '2022-00-00 00:00:00', 'BTech, MscIT, MscDS'],
       ['Trading Technologies (SWE)', 'Job, Internship', 'A1', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Mercer Mettl', 'Internship', 'A1', '7', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Quinbay', 'Internship', 'A', '6', '2022-00-00 00:00:00',
        'BTech, MscIT'],
       ['Lumenci', 'Job', 'A1', '-', '2022-00-00 00:00:00',
        'BTech, MTech, MTechEC'],
       ['MAQ Software', 'Job, Internship', 'A1', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['Qualcomm', 'Summer Internship, Internship', 'A1', '7',
        '2022-00-00 00:00:00', 'BTech, BTechMnC, MTech, MTechEC'],
       ['Raapid', 'Internship, Job', 'A1', '7', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Quicko', 'Job, Internship', 'A', '-', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MDes, MscDS'],
       ['Opshub Technologies Pvt Ltd', 'Job, Internship', 'A', '7',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS'],
       ['HashedIn', 'Internship, Job', 'A', '6.5', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['Mettl', 'Internship', 'A', '5', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Verse Innovation', 'Internship, Job', 'A1', '7',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MDes'],
       ['JSW Group', 'Job', 'A', '6', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['Interview Kickstart', 'Job, Internship', 'A1', '5',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MTechEC'],
       ['Steradian Semiconductors Pvt Ltd', 'Job, Internship', 'A1', '7',
        '2022-00-00 00:00:00', 'BTech, MTech, MTechEC'],
       ['Mercer Mettl(Intern – NLP/CV/SPEECH)', 'Internship', 'A1', '5',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Aavenir', 'Job', 'A', '6', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['InfoObjects Inc', 'Job, Internship', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Vinculum Solutions Pvt. Ltd.', 'Job, Internship', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['IBM NQT 2.0', 'Job', 'A', '6', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Clientjoy', 'Job, Internship', 'A', '5', '2022-00-00 00:00:00',
        'BTech, MscIT, MDes, MscDS'],
       ['GlobalLogic A Hitachi Group Company', 'Job', 'A', '6.4',
        '2022-00-00 00:00:00', 'BTech'],
       ['Colgate Global Business Services', 'Internship', 'A', '-',
        '2022-00-00 00:00:00', 'MscDS'],
       ['Karza Technologies Private Limited', 'Internship, Job', 'A1',
        '-', '2022-00-00 00:00:00', 'BTech, MTech, MscDS, MTechEC'],
       ['Growby Exx Services Pvt. Ltd.', 'Job, Internship', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['FYNDNA Techcorp Private Limited', 'Job', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Aakash Educational Services Limited', 'Job', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Integrella IT Consulting Pvt. Ltd.', 'Internship, Job', 'A',
        '-', '2022-00-00 00:00:00', 'MTech, MscIT, MscDS'],
       ['SKH Algorithms Pvt Ltd', 'Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Episource India Pvt Ltd', 'Internship, Job', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Graas (Earlier Shoptimize)', 'Job, Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Reliance Jio Infocomm Ltd', 'Job', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['HDFC Bank', 'Job', 'A', '5', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Barclays Global Services India Pvt Ltd', 'Job', 'A1', '6',
        '2022-00-00 00:00:00', 'BTech'],
       ['Schneider Electric', 'Job, Internship', 'A', '6.5',
        '2022-00-00 00:00:00', 'BTech, MTech, MTechEC'],
       ['Go Digit General Insurance', 'Job', 'A', '-',
        '2022-00-00 00:00:00', 'BTech'],
       ['Manentia Advisory Pvt. Ltd.', 'Job, Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscDS, MTechEC'],
       ['Tata Consultancy Services Limited-M.Des', 'Job', 'A1', '-',
        '2022-00-00 00:00:00', 'MDes'],
       ['Tatvic Analytics', 'Job, Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech'],
       ['Decimal Point Analytics', 'Job', 'A', '5',
        '2022-00-00 00:00:00', 'BTech'],
       ['WisdmLabs', 'Internship, Job', 'A', '6', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT'],
       ['Fintech Global Center (Adsom Globaltech)', 'Job, Internship',
        'A', '6', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MDes, MscDS, MTechEC'],
       ['Cuvette', 'Internship', 'A1', '-', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MDes, MscDS, MTechEC'],
       ['Hansa solutions', 'Job, Internship', 'A', '6.5',
        '2022-00-00 00:00:00', 'BTech, MscIT'],
       ['Infodesk India Private Limited', 'Internship', 'A', '-',
        '2022-00-00 00:00:00',
        'BTech, BTechMnC, MTech, MscIT, MscDS, MTechEC'],
       ['Bank of America', 'Job', 'A', '6', '2022-00-00 00:00:00',
        'BTech'],
       ['Mastek (Evosys)', 'Job, Internship', 'A', '5.5',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['ElectricPe', 'Internship', 'A', '-', '2022-00-00 00:00:00',
        'BTech'],
       ['Injala Private Limited', 'Job, Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Shipturtle Apps Private Limited', 'Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech'],
       ['ZURU Tech India Private Limited', 'Job, Internship', 'A', '6',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['Digicorp Information Systems Pvt Ltd.', 'Job, Internship', 'A',
        '-', '2022-00-00 00:00:00', 'BTech, MTech, MscIT'],
       ['Skolar EdTech Pvt Ltd', 'Internship', 'A', '-',
        '2022-00-00 00:00:00', 'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Bhaskaracharya National Institute for Space Applications and Geo-informatics',
        'Job', 'A', '-', '2022-00-00 00:00:00', 'MTech, MTechEC'],
       ['Signalchip', 'Job', 'A', '7', '2022-00-00 00:00:00',
        'MTech, MTechEC'],
       ['SAS R&D', 'Job, Internship', 'A1', '7', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS'],
       ['Siemens', 'Job', 'A', '-', '2022-00-00 00:00:00', 'BTech'],
       ['HDFC Bank India', 'Job', 'A', '5', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MscDS, MTechEC'],
       ['Cadence Design Systems', 'Job', 'A', '7', '2022-00-00 00:00:00',
        'BTech, MTech, MTechEC'],
       ['Flits', 'Job', 'A1', '6', '2022-00-00 00:00:00',
        'BTech, MTech, MscIT, MDes, MscDS']], dtype=object)

In [19]:
# Sort by rows

df.sort_index(axis = 0, ascending = False)

,Company Name,Type,Category,Criteria,Placement Date,Open For
143,Flits,Job,A1,6,2022-00-00 00:00:00,"BTech, MTech, MscIT, MDes, MscDS"
142,Cadence Design Systems,Job,A,7,2022-00-00 00:00:00,"BTech, MTech, MTechEC"
141,HDFC Bank India,Job,A,5,2022-00-00 00:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"
140,Siemens,Job,A,-,2022-00-00 00:00:00,BTech
139,SAS R&D,"Job, Internship",A1,7,2022-00-00 00:00:00,"BTech, MTech, MscIT, MscDS"
...,...,...,...,...,...,...
4,Grant Thornton Bharat LLP,Job,A1,-,2023-00-00 00:00:00,"BTech, MTech, MTechEC"
3,Unisys,Internship,A,-,2023-00-00 00:00:00,MTech
2,Optimized Solutions Limited,"Internship, Job",A,6,2023-00-00 00:00:00,"BTech, MTech, MscIT"
1,Tata Consultancy Services,Job,A,6,2023-11-30 0:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"
0,Dishman Carbogen Amcis Limited,Job,A,-,2023-11-30 0:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"

In [20]:
# Sort by cols

df.sort_index(axis = 1, ascending = False)

,Type,Placement Date,Open For,Criteria,Company Name,Category
0,Job,2023-11-30 0:00:00,"BTech, MTech, MscIT, MscDS, MTechEC",-,Dishman Carbogen Amcis Limited,A
1,Job,2023-11-30 0:00:00,"BTech, MTech, MscIT, MscDS, MTechEC",6,Tata Consultancy Services,A
2,"Internship, Job",2023-00-00 00:00:00,"BTech, MTech, MscIT",6,Optimized Solutions Limited,A
3,Internship,2023-00-00 00:00:00,MTech,-,Unisys,A
4,Job,2023-00-00 00:00:00,"BTech, MTech, MTechEC",-,Grant Thornton Bharat LLP,A1
...,...,...,...,...,...,...
139,"Job, Internship",2022-00-00 00:00:00,"BTech, MTech, MscIT, MscDS",7,SAS R&D,A1
140,Job,2022-00-00 00:00:00,BTech,-,Siemens,A
141,Job,2022-00-00 00:00:00,"BTech, MTech, MscIT, MscDS, MTechEC",5,HDFC Bank India,A
142,Job,2022-00-00 00:00:00,"BTech, MTech, MTechEC",7,Cadence Design Systems,A
143,Job,2022-00-00 00:00:00,"BTech, MTech, MscIT, MDes, MscDS",6,Flits,A1

In [23]:
# Update values

df.loc[0, "Criteria"] = 10
df.head(2)

,Company Name,Type,Category,Criteria,Placement Date,Open For
0,Dishman Carbogen Amcis Limited,Job,A,10,2023-11-30 0:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"
1,Tata Consultancy Services,Job,A,6,2023-11-30 0:00:00,"BTech, MTech, MscIT, MscDS, MTechEC"

In [26]:
# Read values

df.loc[[1, 2], ["Criteria", "Category"]]

  Criteria Category
1        6        A
2        6        A

In [31]:
# Read values

df.iloc[0, 1]

'Job'

In [ ]:
# Delete values

df.i0, 1]